<main class="bg-warning">
    <section>
        <button mat-raised-button class="border text-center">1</button>
        <button mat-raised-button class="border text-center">2</button>
        <button mat-raised-button class="border text-center">3</button>
        <button mat-raised-button class="border text-center">4</button>
        <button mat-raised-button class="border text-center">5</button>
        <button mat-raised-button class="border text-center">6</button>
        <button mat-raised-button class="border text-center">7</button>
        <button mat-raised-button class="border text-center">8</button>
        <button mat-raised-button class="border text-center">9</button>
        <button mat-raised-button class="border text-center"></button>
        <button mat-raised-button class="border text-center">0</button>
        <button mat-raised-button class="border text-center"></button>
    </section>
</main>
