<table>
    <tbody>
        <tr>
            <td></td>
            <td> {{firstNumber}}</td>
        </tr>
        <tr  style="border-bottom: 1px solid black;">
            <td>+ </td>
            <td> {{secondNumber}}</td>
        </tr>
        <tr style="border-bottom: 1px solid blue;">
            <td></td>
            <td> 
                <span *ngIf="showAnswer">{{sum}} </span>
            </td>
        </tr>
    </tbody>
</table>
<br>
<section>
    <button mat-ripple class="choices btn btn-lg btn-primary" *ngFor="let n of choices" (click)="selected($event)">{{n}} </button>
</section>

<audio #myAudio>
    <source src="../../../../assets/sounds/Sounddogs-Preview-10954418.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>